*{ 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: #FFF8F3 ;
    background-image: url(../header_bg.png), url(../developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.primary-color{
    color: #FD6E0A ;
}
.btn-primary{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
   background: #FD6E0A;
   border-radius: 5px;
    border: 0;
    margin-right: 30px;
}
.btn-contact{
    color: #FD6E0A;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    height: 64px;
    border-color: #FD6E0A;
   border-radius: 5px;
    
}
/* header style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
/* banner  */
.banner{
    display: flex;
    align-items: center;
    margin: 0 0 0 200px;
}
/* .banner-head{
    margin: 0 200px;
    
} */
.banner-sub{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight:700px ;
    font-size:65px ;
    margin-bottom: 20px;
}
.banner-contain{
    color: #757575;
    font-size: 11px;
    margin: 30px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 200px;
}
 /* about-section -style */
.about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}
.section-title{
    text-align: center; 
    margin-bottom: 30px; margin-top: 130px; margin-bottom: 60px;
}
.section-contain{
    text-align: center; 
    color: #757575;
    font-size: 16px;
    
}
.about-info-list{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}
.about-title{
    color: #757575;
    font-size: 18px;
}
.about-info-dicription{
    color: #474747;
    font-size: 18px;
}
.skills-container{
    display: flex;
}
.skill{
    background-color: #f8f7f7;
    border-radius: 5px;
    padding: 30px;
    margin: 24px;
    box-shadow: 0px 6px 50px; #rgba ( 0,0,0,0.06 );
   
}
.skill-title{
    font-size: 14px ;
    font-weight: 700;
    color: #000;
   margin-top: 30px;
   margin-bottom: 20px;
}
.skill-description{
    font-size: 12px;
    color: #757575;
    
}
.summary-title{
    display: flex;
    
}
.summary-body{
margin-right: 70pX;

}
.contain-title{
    font-size: 24px;
    color: #474747;
    margin:  10px 0 10px 0;
    font-style: bold;
}
.contain-info{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
    
}
.contain-description{
    color:#757575;
    font-size: 16px;
    
}
.download-cv{
   color: #f8f7f7;
   font-size: 20px;
   margin-top: 50px;
   margin-bottom: 110px;
   background-color: #FD6E0A;
   height: 50px;
   width: 200px;
   border: 0;

   
}
.resume-btn{
    text-align: center;
   
}
/* contact  */
.contact{
    display: flex;
    gap: 50px;
    background-color: #FFF8F3;
    padding: 100px 200px;
}
.contact .section-title{
    text-align: left; 
    margin-top: 100px;
    margin-bottom: 20px;

}
.contact-description{
    font-size: 16px;
    font-weight: 100%;
    margin-bottom: 20px;
}
.contact input[type="email"], input[type="text"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;

}
.contact input[type=submit]{
    background-color: #FD6E0A;
    height: 64px;
    width: 150px;
    border: 0;
    border-radius: 5px;
}
input{
    height: 14px;
}
.contact a{
    text-decoration: none;
}